<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/itmo-is-dev/index.json"/>
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
        <packageSource key="github">
            <package pattern="Itmo.Dev.Platform*" />
        </packageSource>
    </packageSourceMapping>
</configuration>